<mat-toolbar color="warn" style="justify-content:space-between">
  <div>Pavan Kumar Surisetti</div>
  <div style="justify-content:space-between">
    <span style="padding:10px">Contact</span>
    <span style="padding:10px">LinkedIn</span>
  </div>
</mat-toolbar>

<mat-card style="max-width:300px">
  <mat-card-header>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>Pavan</mat-card-title>
    <mat-card-subtitle>Angular Developer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="" alt="Photo of Pavan" />
  <mat-card-content>
    <p>
      Software Engineer having 5.1 years of experience in HTML, CSS, JavaScript
      and Angular. Proficient in developing web applications using Angular. Good
      understanding of core concepts and advanced features in Angular and make
      use of RxJS to achieve Reactive programming. Proficient in advanced
      JavaScript and core concepts
    </p>
  </mat-card-content>
</mat-card>
